@media only screen and (min-width: 600px) {
  .calculator {
    margin: 3rem auto;
    max-width: 1000px;
    display: flex;
  }

  .inputFields {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .inputFields {
    display: flex;
  }

  .calculator {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }
}
